name: e2e Workflow
on:
  push:
    branches:
    - develop
jobs:
  sleep-job:
#    runs-on: ubuntu-latest
#    steps:
#    - name: Pause until build workflow in this ref completed
#      uses: lewagon/wait-on-check-action@v1.0.0
#      with:
#        ref: ${{ github.ref }}
#        check-name: 'Check Job'
#        repo-token: ${{ secrets.GITHUB_TOKEN }}
#        wait-interval: 10
##      uses: PranavNair0001/github-actions-workflow-expect@master
##      with:
##        wait-interval: 5 # seconds
##        wait-max: 1800 # seconds
##        repo-token: ${{ github.token }}
##        ref: ${{ github.ref }}
##        workflow: 'Build Workflow'
  get-commit-hash:
    name: 'e2e Job'
    runs-on: ubuntu-latest
    needs:
    steps:
    - name: Repository Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Get Last Successful Commit Hash of Build Workflow
      id: last-successful-commit
      uses: grace-matson/check-build-successful@test-dist
      with:
        token: ${{ github.token }}
        branch: "develop"
        workflow: "Build Workflow"
        verify: true
    - name: Get Commit Hash of current Workflow Run
      id: current-commit
      run: echo "::set-output name=sha::${GITHUB_SHA}"
    outputs:
      build-check: ${{ steps.last-successful-commit.outputs.check }}
      current-hash: ${{ steps.current-commit.outputs.sha }}

#  view-hash:
#    runs-on: ubuntu-latest
#    needs: get-commit-hash
#    steps:
#    - name: Check Successful Commit Hash of Build Workflow
#      run: echo ${{ needs.get-commit-hash.outputs.build-check }}
#    - name: View Commit Hash of current Workflow Run
#      run: echo ${{ needs.get-commit-hash.outputs.current-hash }}
#    outputs:
#      build-check: ${{ needs.get-commit-hash.outputs.build-check }}
#      current-hash: ${{ needs.get-commit-hash.outputs.current-hash }}
#
#  maven-central-deploy-develop:
#    needs: view-hash
#    if: ${{ (github.ref_name == 'develop') && (needs.view-hash.outputs.build-check == 'true') }}
#    uses: ./.github/workflows/release.yml
#
